.events{
  min-height: 100vh;
  background-color: rgba(11, 49, 243,0.2);
}

hr{
  height: 2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
  animation-name: inc;
  animation-duration: 2s;
}
@keyframes inc {
 0%{ width: 0;height:20px;}
 100%{width:100%;}
}
.Eachcard{
  height:auto;
  background-color:white;
  max-width: 400px;
  -webkit-box-shadow: -3px 16px 15px 2px #01181D;
  box-shadow: -3px 16px 15px 2px #01181D;
  border-radius:10px;
  margin: 20px;
}
.Eachcard p{
  padding: 1rem;
  word-wrap: normal;
  font-size: 1rem;
}
.cardImage{
  width: 100%;
  height:280px;
  border-top-right-radius: inherit;
  border-top-left-radius:inherit;
}
#ribbon{
  background: #263238;
  position: relative;
  width:70%;
  margin-bottom: 2px;
  text-align: left;
  padding-left: 5px;
  color:white;
}

#ribbon:after{
  content:'';
  height:0;
    color:transparent;
  width: 0;
  top:0px;
  right:-20px;
  position: absolute;
  border-left:22px   solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 21px solid  #263238;
}

#ribbon:before{
  content:'';
  color:transparent;
  height:0;
  width: 0;
  top:0px;
  right:-20px;
  position: absolute;
  border-style: solid;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 21px solid  #263238;
}
.icons{
  margin: 0px 10px 0px;
  padding: 10px;
}
.icons i:hover{
  transform: scale3d(1.5,1.5,1.5);
  cursor: pointer;
}
