

hr{
  height: 2px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 1);
	border: 0;
  animation-name: inc;
  animation-duration: 2s;
}
@keyframes inc {
 0%{ width: 0;height:10px;}
 100%{width:100%;}
}
.Eachcard{
  background-color: #F2F4F6;
  margin:0.5rem;
  height:100%;
  padding:0.4rem
}
.Eachcard p{
  padding: 1rem;
  word-wrap: normal;

  font-size: 0.8rem;
}

.iconwrap{
  background-color: white;
}
#ribbon{
  background: #12202E;
  position: relative;
  width:70%;
  margin-bottom: 2px;
  text-align: left;
  padding-left: 5px;
  color:white;
}

#ribbon:after{
  content:'';
  height:0;
  color:transparent;
  width: 0;
  top:0px;
  right:-20px;
  position: absolute;
  border-left:22px   solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 21px solid  #12202E;
}

#ribbon:before{
  content:'';
  color:transparent;
  height:0;
  width: 0;
  top:0px;
  right:-20px;
  position: absolute;
  border-style: solid;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 21px solid  #12202E;
}
