
.navigater{
  opacity: 0.8;
  top:0;
  right:0;
}
.logo{
  background-color: white;
  padding:2rem;
  cursor: pointer;
}
.logo:hover{
  -webkit-box-shadow:inset 5px 5px 15px 5px #FFBF0A;
  box-shadow:inset 5px 5px 15px 5px #FFBF0A;
}

.linked:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.icons{
color:white;
}
