.home{
  cursor: pointer;
}
.home:hover{
  color:grey;
}
.navigater{
  opacity: 0.8;
  top:0;
  right:0;
  position: relative;
}
.logo{
  height: 60px;
  border:1px solid black;
  overflow: visible;
  background-color: white;
  margin-top: 15px;
  width:60px;
}
.logo:hover{
  transform:rotateX(100);
}
.linked:hover{
  text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;
}

.icons{
padding-top: 20px;
color:white;
}
